<div class="toolbar">
    <button mat-raised-button color="primary" (click)="toggleForm()">
        {{ showForm ? 'Cancelar' : 'Crear Contacto' }}
    </button>
</div>
<div class="loader-overlay" *ngIf="isLoading">
    <div class="loader"></div>
</div>
<!-- Formulario de Contacto -->
<div *ngIf="showForm">
    <h2>{{ flatedit ? 'Editar Contacto' : 'Crear Nuevo Contacto' }}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="Nombre" formControlName="first_name">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Apellido" formControlName="last_name">
        </mat-form-field>

        <!-- Teléfonos -->
        <label>Teléfonos:</label>
        <div formArrayName="phones">
            <div *ngFor="let phone of phones.controls; let i = index">
                <mat-form-field>
                    <input matInput [formControlName]="i" placeholder="Teléfono">
                </mat-form-field>
            </div>
        </div>
        <button mat-fab aria-label="Example icon button with a delete icon" (click)="removePhone()">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-button type="button" (click)="addPhone()">Agregar Teléfono</button>

        <!-- Correos -->
        <br>
        <label>Correos:</label>
        <div formArrayName="emails">
            <div *ngFor="let email of emails.controls; let i = index">
                <mat-form-field>
                    <input matInput [formControlName]="i" placeholder="Correo">
                </mat-form-field>
            </div>
        </div>
        <button mat-fab aria-label="Example icon button with a delete icon" (click)="removeEmail()">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-button type="button" (click)="addEmail()">Agregar Correo</button>

        <!-- Direcciones -->
        <br>

        <label>Direcciones:</label>
        <div formArrayName="addresses">
            <div *ngFor="let address of addresses.controls; let i = index" [formGroupName]="i">
                <mat-form-field>
                    <input matInput formControlName="street" placeholder="Calle">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="city" placeholder="Ciudad">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="state" placeholder="Estado">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="postal_code" placeholder="Código Postal">
                </mat-form-field>
            </div>
        </div>
        <button mat-fab aria-label="Example icon button with a delete icon" (click)="removeAddress()">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-button type="button" (click)="addAddress()">Agregar Dirección</button>
        <br>

        <button mat-raised-button color="primary" type="submit">{{ flatedit ? 'Actualizar' : 'Crear' }}</button>
    </form>
</div>

<!-- Tabla de Contactos -->
<div *ngIf="!showForm">
    <mat-form-field>
        <input matInput (keyup.enter)="buscar($event)" placeholder="Buscador">
    </mat-form-field>
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container matColumnDef="first_name">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.first_name }}</td>
        </ng-container>

        <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef>Apellido</th>
            <td mat-cell *matCellDef="let element">{{ element.last_name }}</td>
        </ng-container>

        <ng-container matColumnDef="phones">
            <th mat-header-cell *matHeaderCellDef>Teléfonos</th>
            <td mat-cell *matCellDef="let element">
                <div *ngFor="let phone of element.phones">{{ phone.phone_number }}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-button (click)="handleAction(element)">Editar</button>
                <button mat-button color="warn" (click)="delete(element.id)">Eliminar</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['first_name', 'last_name', 'phones', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['first_name', 'last_name', 'phones', 'actions'];"></tr>
    </table>

    <!-- Paginación -->
    <mat-paginator [length]="totalContacts" [pageSize]="pageSize" (page)="onPageChange($event)">
    </mat-paginator>
</div>